/*===============================
=            Imports            =
===============================*/

@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
@import url('https://fonts.googleapis.com/css?family=Poppins');

/*=====  End of Imports  ======*/


html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	min-height: 100vh;
	flex-wrap: wrap;
	font-family: 'Poppins', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
div.wrapper
{
	width: 100%;
}
footer
{
	width: 100%;
	align-self: flex-end;
	background: white;
	border-top: 1px solid rgba(64,71,75,0.1);
	background: #0099cc;
}
footer h5 {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}
footer h4, footer h5, footer h6 {
    padding-bottom: 30px;
    margin: 0px;
}
footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
footer ul li {
    margin-bottom: 10px;
}
footer a , footer p, footer center{
    text-decoration: none;
    -webkit-transition: color 0.6s;
    -o-transition: color 0.6s;
    transition: color 0.6s;
    color: #ffe4c7;
}
/*========================================
=            Nuestro Grid css            =
========================================*/


/*scroll */
::-webkit-scrollbar{
	width: 8px;
}
::-webkit-scrollbar-track {
	background-color: #E6E4E4;
}

::-webkit-scrollbar-thumb {
	background-color: #AEAEAE;/*#D9983E;  */
	border-radius: 5px; 
}
::-o-scrollbar{
	width: 8px;
}
::-o-scrollbar-track {
	background-color: #E6E4E4;
}

::-o-scrollbar-thumb {
	background-color: #AEAEAE;/*#D9983E;  */
	border-radius: 5px; 
}
::-moz-scrollbar{
	width: 8px;
}
::-moz-scrollbar-track {
	background-color: #E6E4E4;
}

::-moz-scrollbar-thumb {
	background-color: #AEAEAE;/*#D9983E;  */
	border-radius: 5px; 
}
/*grid*/
.fila	
{
	width: 90%;
	margin: 2% auto;
	/*background-color: #7AD5E2;*/
}
.columna
{
	box-sizing: border-box;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	padding: 1em;
	width: 100%;
	overflow: hidden;
	/*background-color: #E27A9A;*/
}
.total > .columna
{
	margin-right: 0px;
}
/*definir los brackpoints*/

/*
	small 	480px up
	medium 	768px up
	large 	1024px up;
*/

@media (min-width: 480px)
{
	/* 4 columnas y 6 columnas son 2 small*/
	.cuatro-columnas .columna,
	.seis-columnas .columna
	{
		width: 49%;
	}
	.cuatro-columnas .columna:nth-child(2n),
	.seis-columnas .columna:nth-child(2n)
	{
		margin-right: 0;
	}

	.doce-columnas .columna
	{
		width: 32%;
	}
	.doce-columnas .columna:nth-child(3n)
	{
		margin-right: 0;
	}
}

@media (min-width: 768px)
{

	/* right y left sidebar */
	.right-sidebar .sidebar,
	.left-sidebar .sidebar
	{
		width: 23.5%;
	}
	.right-sidebar .content,
	.left-sidebar .content
	{
		width: 74.5%;
	}

	.right-sidebar .sidebar 
	{
		margin-right: 0;
	}
	.left-sidebar .content
	{
		margin-right: 0;
	}

	/* 3  columnas */

	.tres-columnas .columna
	{
		width: 32%;
	}
	.tres-columnas .columna:nth-child(3n)
	{
		margin-right: 0;
	}

/*doce columnas son cuatro*/
	.doce-columnas .columna
	{
		width: 23.5%;
	}

	.doce-columnas .columna:nth-child(3n)
	{
		margin-right: 2%;
	}
	.doce-columnas .columna:nth-child(4n)
	{
		margin-right: 0;
	}
}

@media (min-width: 1024px)
{
	/* 2  columnas */
	.dos-columnas .columna
	{
		width: 49%;
	}
	.dos-columnas .columna:nth-child(2n)
	{
		margin-right: 0;
	}

	/* 4  columnas */

	.cuatro-columnas .columna
	{
		width: 23.5%;
	}
	.cuatro-columnas .columna:nth-child(2n)
	{
		margin-right: 2%;
	}
	.cuatro-columnas .columna:nth-child(4n)
	{
		margin-right: 0;
	}

	/* 6  columnas */

	.seis-columnas .columna
	{
		width: 15%;
	}
	.seis-columnas .columna:nth-child(2n)
	{
		margin-right: 2%;
	}	
	.seis-columnas .columna:nth-child(6n)
	{
		margin-right: 0;
	}

	/* 12  columnas */

	.doce-columnas .columna
	{
		width: 6.5%;
	}
	.doce-columnas .columna:nth-child(4n)
	{
		margin-right: 2%;
	}
	.doce-columnas .columna:nth-child(12n)
	{
		margin-right: 0;
	}

}

/*=====  End of Nuestro Grid css  ======*/



/*========================================
=            Section Menu nav            =
========================================*/

nav{
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 93;
	height: 100px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .3s;
}

nav.small
{
	height: 70px;
	padding: 5px 100px;
	background: white;
	box-shadow: 0 0px 0 1px rgba(64,71,75,0.1);
    
}
nav .logo{
	padding: 0px 20px;
	height: 80px;
	float: left;
	font-size: 24px;
	transition: .3s;
}

@media (min-width: 768px){
	div.navbar-header {
	    float: left;
	}
}
@media (max-width: 767px){
	.navbar-brand {
	    height: auto;
	}
}
@media (max-width: 992px)
{
	.navbar-brand img {
	    width: 240px;
	}
}
.navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
    height: 54px;
}

nav.small .logo{
	padding: 0px 12px;
	height: 46px;
}

nav ul{
	list-style: none;
	float: right;
	margin: 0; padding: 0;
	display: flex;
}
nav ul li
{
	list-style: none;
}

nav ul li a{
	line-height: 80px;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;
}

nav.small ul li a{
	line-height: 60px;
}

/*=====  End of Section Menu nav  ======*/



/*======================================
=            Section Slider            =
======================================*/

/*
div.slider
{
	width: 100%;
	height: 100vh;
	/*background: url('https://img00.deviantart.net/f7db/i/2017/036/a/4/landscape__1____forest_mountain_by_ncoll36-daxsdd5.jpg');*/
	/*background: url('https://img00.deviantart.net/715f/i/2017/034/a/8/landscape__2____mountain_river_by_ncoll36-daxsrrg.jpg');
	background-size: cover;
	background-position: center;
}
*/
.caption {
  position: absolute;
  top: 40%;
  left: 6rem;
  z-index: 9;
  /*transform: translateY(-50%);*/
  opacity: 0;
  transition: 500ms ease opacity, 500ms ease transform;
  transform: translateY(60px);
}
.caption.current-caption {
  transition-delay: 1000ms;
  opacity: 1;
  transform: translateY(0);
}
.caption.previous-caption {
  transform: translateY(-60px);
}
.caption .caption-heading {
  transition: 500ms ease-in all;
}
.caption .caption-heading h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  text-indent: -0.2rem;
  letter-spacing: .2rem;
  font-weight: 300;
}
.caption .caption-subhead {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  word-spacing: .1rem;
  margin-bottom: 2.5rem;
  display: block;
}
.caption a.btn {
  color: #333;
  font-size: 0.8rem;
  text-decoration: none;
  background-color: white;
  padding: .5rem 1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  position: relative;
  z-index: 9;
  transition: 250ms ease-in background-color, 500ms ease-in color;
}
.caption a.btn:hover {
  background-color: black;
  color: white;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #2C302E;
  display: flex;
  position: relative;
}

.left-col, .right-col {
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

.left-col {
  background-size: cover;
  background-position: center top;
  overflow: hidden;
  /*margin: 2rem;*/
  position: relative;
}
.left-col .slide {
  /*filter: grayscale(100%);*/
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: left top !important;
  background-size: cover !important;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 1000ms cubic-bezier(1, 0.04, 0.355, 1) transform, 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55) clip-path;
  transform: translateY(-100%);
  scale: 1;
  z-index: -1;
}
.left-col .slide.previous {
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
  animation-delay: 1s;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: 3s ease transform;
  will-change: transform;
}
.left-col .slide.previous.change {
  transform: translateY(50%);
}
.left-col .slide.next {
  transform: translateY(-100%);
  z-index: 3;
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.left-col .slide.current {
  opacity: 1;
  transform: translateY(0) scale(1.25);
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.right-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-col .preview {
  max-width: 400px;
}

.nav {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  overflow: hidden;
}
.nav a {
  color: #fafafa;
  font-size: 3rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.nav:hover .slide-up, .nav:hover .slide-down {
  /*opacity: .5;*()
  /*transform: translateX(0);*/
}
.nav .slide-up, .nav .slide-down {
  display: block;
  position: absolute;
  text-align: center;
  padding: 1rem;
  opacity: .5;
  transition: .25s ease opacity,.25s ease transform;
  z-index: 99;
}
.nav .slide-up:hover, .nav .slide-down:hover {
  opacity: 1;
}
.nav .slide-up a, .nav .slide-down a {
  text-decoration: none;
  font-weight: 300 !important;
}
.nav .slide-up {
  top: 50%;
  left: 0;
  /*transform: translateX(-100%);*/
}
.nav .slide-down {
  top: 50%;
  right: 0;
  /*transform: translateX(100%);*/
}


/*=====  End of Section Slider  ======*/



/*=======================================
=            Seciont content            =
=======================================*/

section.content
{
	margin-top: 80px;
}

section.content p,
section.content h2
{
	width: 900px; margin: 30px auto; text-align: justify;
	font-size: 20px;
	line-height: 30px;
}


/*=====  End of Seciont content  ======*/
